# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'

'.source.js':
  'console.log':
    'prefix': 'log'
    'body': 'console.log(\'$1\');$2'
    'description': 'log output to console'
  'eslint-disble':
      'prefix': 'eno'
      'body': '\/* eslint-disable no-console *\/'
      'description': 'eslint disable'

'.source.python':
  'trace':
    'prefix': 'ip'
    'body': 'import ipdb; from pprint import pprint; ipdb.set_trace();'
    'description': 'set debug breakpoint'
  'pudb':
    'prefix': 'pu'
    'body': "from pudb.remote import set_trace; set_trace(term_size=(160, 40), host='0.0.0.0', port=6900);"
    'description': 'set pudb breakpoint'

#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
